<!--批量安装操作区-->

<div class="panel panel-default">
            <div class="panel-heading">批量查询</div>
            <div class="panel-body">

        <div class="form-group " style="margin-top: 1.5em;">选择安装应用
    <label for="txt_search_departmentname" class="control-label col-lg-8">
</label>
    <label class="control-label col-lg-1.5">
        <select class="form-control m-b-sm"  style="width: auto" id="slct_bulk_update">
            <option value="nginx">nginx</option>
            <option value="tomcat">tomcat</option>
            <option value="docker">docker</option>
            <option value="php-fpm">php-fpm</option>
        </select>
    </label>
    <button id="btn_bulk_update" style="height: 32px;" class="btn btn-small btn-primary">
        安装
    </button>
    <button id="btn_bulk_edit" style="height: 32px;" class="btn btn-small btn-success">
        编辑
    </button>

</div>
</div>
    </div>