<!--Ansibles 剧本-->
<style>
</style>
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabe2">添加Ansibles剧本</h4>
                     <div class="modal-body">
                     <div class="form-group">
                         <label for="txt_departmentname">剧本命名</label>
                         <input type="text" name="txt_departmentname" class="form-control" id="role_name" placeholder="如：nginx">
                     </div>
                     <div class="form-group">
                        <label for="txt_parentdepartment">选择文件</label>
                         <input type="file" name="txt_parentdepartment" class="form-control" id="roles_files" >
                     </div>

                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                     <button type="button" id="btn_ansible" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>添加</button>
                        </div>
                      </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
</div>